h1 All user 
form.seach-form(action="/users/search")
  input(name="name", type="text", placeholder="name")
  input(type="submit")

.users 
  if users.length > 0
    table
      thead
        tr
          th  Name 
          th  Email 
      tbody
        each user in users
          tr
            td=  user.name 
            td=  user.email
  else
    p No user to display