h1 All user 
form.seach-form(action="/users/search")
  input(name="name", type="text", placeholder="name")
  input(type="submit")


.users 
    table
      thead
        tr
          th  Name 
          th  Email 
      tbody
        each user in users 
          tr
            td=  user.name 
            td=  user.email
            td 
              a(href="/users/"+user.id) View 
a(href="/users/create") Create User 